@import "../base/1_vars.scss";
@import "../base/2_mixins.scss";
@import "../base/4_global.scss";
@import "../customBase/variables.scss";

.alert {
  isplay: inline-block;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}
.mo-alert-success {
  background: $color-green;
  color: white;
}

.mo-alert-error {
  background: $color-red;
  color: white;
}