@import "../base/1_vars.scss";
@import "../base/2_mixins.scss";
@import "../base/4_global.scss";
@import "../customBase/variables.scss";


.create-customer {
  .form-element {
    margin-bottom: 2.5em;
  }

  .row .create-customer-initials,
  .row .create-customer-form {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
  }

  .create-customer-initials {
    text-align: center;
  }

  .create-customer-right {
    border-right: 1px solid #e8e9e9;
  }

  .create-customer-form {
    width: 90%;
  }

  .address-finder {
    .postcode-lookup {
      margin-bottom: 1em;
    }
  }

}