@import '../customBase/variables.scss';

#root .fraudCheckOverview .fraudCheckListItem {
  padding: 4%;
}

.fraudCheckListItem {
  border: 1px solid #e8e9e9;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;

  &.fraudCheck-passed {
    border-left: 2px solid $color-green;
  }
  &.fraudCheck-maybe {
    border-left: 2px solid $color-yellow;
  }
  &.fraudCheck-failed {
    border-left: 2px solid $color-red;
  }
}



