@import '../customBase/variables.scss';

.fraudCheckOverview .left-panel {
  border-right: 1px solid #e8e9e9;
}

.fraudCheckOverview-order.right-panel.cust-scroll {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;

  .fraudCheckOverview-right-inner {
    padding-left: 3%;
    padding-right: 3%;
  }
  .sticky-actions {
    position: sticky;
    bottom: 0;
  }

  .fraudCheckOverview-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: rgba(33,41,55, 0.8);
    z-index: 1;
    margin: auto;
  }
}

.fraudCheckOverview-meta {

  margin-bottom: 1em;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .fraudCheckOverview-count {
    float: left;
  }

  .Select {
    float: right;
    width: 185px;
  }
}