.homeTrialList-status {
  float: right;
  border: 1px solid;
  border-radius: 3px;
  padding: 2px 4px;
  text-transform: lowercase; }

.homeTrialListItem-complete .homeTrialList-status {
  color: #f86e61;
  border-color: #f86e61; }

.homeTrialListItem-contacted .homeTrialList-status {
  color: #644c73;
  border-color: #644c73; }

.homeTrialListItem- .homeTrialList-status {
  display: none; }
