@import "../base/1_vars.scss";
@import "../base/2_mixins.scss";
@import "../base/4_global.scss";
@import "../customBase/variables.scss";

.login-form {
    width: 460px;
    margin: auto;
    padding:5em 2em 2em 2em;

  .form-element {
    margin-bottom: 1em;
  }

  label {
    font-weight: normal;
  }
}

.login .nav-container{
  display: none;
}