.status {
  border: 1px solid;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px; }

.status-complete {
  color: #34d9ba; }

.status-lab {
  color: #fcd259; }
