@import '../base/1_vars.scss';

$blue : map-get(map-get($colours, 'blue'), 'base');

.pagination {

  .break {
    display: none;
  }

  a {
    cursor: pointer;
  }
}
.pagination > li > a {
  color: $colour-text;
}
.pagination > .active > a,
.pagination > .active > a:focus {
  background: $blue;
  border-color: $blue;
}