.pagination .break {
  display: none; }

.pagination a {
  cursor: pointer; }

.pagination > li > a {
  color: #222222; }

.pagination > .active > a,
.pagination > .active > a:focus {
  background: #212937;
  border-color: #212937; }
