.component-results {

  .card {
    .actions {
      position: absolute;
      top: 40px;
      right: 30px;
      color: #222;
      opacity: 0.5;
    }
  }


  a, a:hover {
      color: #222222;
  }

}