@import "../customBase/variables.scss";
@import '../base/1_vars.scss';


$approveColor : $color-green;

.sticky-actions-homeTrial {

  &.sticky-actions-open{
    .stickyActions-form {
      top: -374px;
    }
  }

  .updatePicker {

    margin-bottom: 1em;

    .updatePicker-field-wrap {
      overflow: hidden;
      margin-bottom: 1em;
    }

    .form-element {
      float: left;
      margin-right: 1em;
    }

    .updatePicker-save {
      margin: 0;
      background: $colour-blue;
    }
  }

  .button {
    width: 120px;
    height: 48px;
    margin-left: 1em;
    clear: both;
  }
}