@import "../customBase/variables.scss";
@import '../base/1_vars.scss';

$approveColor : map-get(map-get($colours, 'blue'), 'btn-blue');

.sticky-actions {
  background: white;
  width: 100%;
  overflow:hidden;

  .sticky-actions-overlay {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: rgba(33, 41, 55, 0.8);
    z-index: -4;
    margin: auto;
    display: none;
  }

  &.sticky-actions-open {
    border-top: 1px solid map-get($colours, 'line');

    .sticky-actions-overlay {
      display: block;
    }

    .stickyActions-form {
      display: block;
    }

    .btn-cancel {
      display: inline-block;
    }
  }

  .stickyActions-details {
    float: left;
  }

  .stickyActions-form {
    padding: 2em;
    background: white;
    display: none;

    .stickyActions-form-title {
      margin-bottom: 2em;
      text-transform: capitalize;
    }
  }



  .stickyActions-controls {
    border-top: 1px solid map-get($colours, 'line');
    padding: 2em;
    overflow: hidden;
    background: white;
  }

  .stickActions-comment {
    height: 258px;
  }

  & .sticky-bottom {
    bottom: 0;
    width: 100%;
  }

  .button {
    width: 100px;
    height: 48px;
    margin-left: 1em;
  }

  .stickyActions-cta {
    float: right;
  }

  .btn-approve {
    color: white;
  }

  .btn-cancel {
    border: 0;
    width: auto;
    display: none;
  }
}

.sticky-actions.sticky-actions-approve {
    .btn-decline, .btn-contacted {
      visibility: hidden;
    }
  }

  .sticky-actions.sticky-actions-decline {
    .btn-approve {
      display: none;
    }
    .btn-contacted {
      visibility: hidden;
    }
  }

  .sticky-actions.sticky-actions-contact {
    .btn-approve,
    .btn-decline {
      display: none;
    }
  }


// @TODO - Move to Button component

.button {
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
}

.btn-approve {
  background-color: $approveColor;
  border-color: $approveColor;
}

