@import "../base/1_vars.scss";
@import "../base/2_mixins.scss";
@import "../base/4_global.scss";

.search-results {
  font-size: 2em;
  line-height: 1.7em;
  letter-spacing: -0.5pt;
}

.sticky-bar {
  background-color: $colour-primary;
  color: #fff;
  padding:20px 30px;
  position: relative;
  z-index: layer('breadcrumb');
}

.sticky-dropdown-current {

  display:inline;

  &:after {
    content: '&#8744'
  }

  &.heading1 {
    color: white;
  }
}