@import "../customBase/variables.scss";
@import '../base/1_vars.scss';


$approveColor : $color-green;

.sticky-actions-homeTrial {
    .stickyActions-form {
      top: -320px;
      height: 320px;
    }

  .button {
    width: 120px;
    height: 48px;
    margin-left: 1em;
  }
}